/* Panel Top 01 */
.panel .sections>div{
    height:auto;
}
.panel .sections .menu .noText{
    font-size: 0 !important;
}
.panel.top{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.app-panel-top-links a{
    font-size: 14px;
    letter-spacing: 0.12em;
    opacity:0.5 !important;
}
.app-panel-top-links a:hover{
    opacity:1 !important;
}
.app-logo{
    line-height:30px;
}

/* Example Slider pill tabs (#2) */
.pill.controller {
  font-size: 0;
  border: 1px solid;
  display: inline-block;
  border-radius: 6px;
}
.pill.controller li {
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #fff;
  font-size: initial;
}
.pill.controller li:first-child {
  border-radius: 4px 0 0 4px;
}
.pill.controller li:last-child {
  border-radius: 0 4px 4px 0;
}
.pill.controller li.selected {
  background: #fff;
  color: #303030;
}